# Application
SPRING_PROFILES_ACTIVE=dev
JWT_SECRET=change-this-secret-key-with-at-least-32-characters
JWT_EXPIRATION_MINUTES=60

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=mini_ifood
DB_USER=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

